<html>
<body>
	<h3>IMDb score prediction</h3>

<div>
<form action="/predict" method="POST">
	<label for="title">Title</label>
	<input type="text" id="Title" name="Title">
	<br>
	<label for="Runtime (mins)">Runtime (mins) </label>
	<input type="text" id="Runtime (mins)" name="Runtime (mins)">
	<br>
	<label for="Genres">Genres </label>
	<input type="text" id="Genres" name="Genres">
	<br>
	<label for="Num Votes">Num Votes </label>
	<input type="text" id="Num Votes" name="Num Votes">
	<br>
	<label for="Release Date">Release Date </label>
	<input type="date" id="Release Date" name="Release Date">
	<br>
	<label for="Directors">Directors </label>
	<input type="text" id="Directors" name="Directors">
	<br>
	<input type="submit" value="Submit">
</form>
</div>
<h3>The score of the movie is:</h3> 
<p>{{ score }}</p>
</body>
</html>
